/**
 * components/global.css
 *
 * Project-wide styles
 *
 * @Author: webrgp
 * @Date: 2022-04-28 16:07:33
 * @Last Modified by: webrgp
 * @Last Modified time: 2022-04-28 16:08:36
 *
 */

 #site-header{
   background-color: gold;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
 }

 #site-content{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
 }

 #site-subcontent{
  background-color: violet;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

 #site-footer{
  background-color: mediumspringgreen;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
 }
